.site-drawer-component {
    min-height: 100vh;
    display: flex;
}

.site-drawer-component .drawer {
    transition: transform 0.3s;
    width: 300px;
    margin-left: -300px;
    flex-shrink: 0;
    position: relative;
    z-index: 20;
    transform: translate(0, 0);
}

.site-drawer-component .drawer-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: -10;
    opacity: 0;
    transition: opacity 0.3s linear, z-index 0.3s linear 0.3s;
}

.site-drawer-component.opened .drawer-overlay {
    transition: opacity 0.3s linear, z-index 0.3s linear 0s;
    opacity: 1;
    z-index: 10;
}

.site-drawer-component.opened .drawer {
    transform: translate(100%, 0);
}

.site-drawer-component .main-content {
    flex-shrink: 0;
    width: 100%;
    z-index: 1;
}
