<div class="drawer-wrapper {{if this.opened 'opened'}}">
    {{yield (hash
                aside=(component 'site-drawer/aside'
                    toggleDrawer=this.toggleDrawer
                    openDrawer=this.openDrawer
                    closeDrawer=this.closeDrawer
                    opened=this.opened)
                overlay=(component 'site-drawer/overlay' toggleDrawer=this.toggleDrawer)
                trigger=(component 'site-drawer/trigger' toggleDrawer=this.toggleDrawer)

                opened=this.opened
                toggleDrawer=this.toggleDrawer
                openDrawer=this.openDrawer
                closeDrawer=this.closeDrawer
            )
    }}
</div>
