{{!-- aside --}}
{{site-drawer-aside toggleDrawer=(action 'toggleDrawer')}}
{{!-- aside --}}

<div class="drawer__overlay" {{action 'toggleDrawer'}}></div>

<main class="main-content">
  {{yield (hash toggleDrawer=(action 'toggleDrawer'))}}
</main>