<SiteDrawer as |drawerData|>
    <button class="open-drawer-button" type="button" {{on 'click' drawerData.openDrawer}}>
        open drawer
    </button>

    <button class="toggle-drawer-button" type="button" {{on 'click' drawerData.toggleDrawer}}>
        toggle drawer
    </button>

    {{outlet}}
</SiteDrawer>