{{#site-drawer as |drawerData|}}

  <button class="open-drawer-button" {{action drawerData.openDrawer}}>
    open drawer
  </button>

  <button class="toggle-drawer-button" {{action drawerData.toggleDrawer}}>
    toggle drawer
  </button>

  {{outlet}}
{{/site-drawer}}